@using MC = Microsoft.Maui.Controls
@using PassXYZ.Vault.Models

@inject Navigation Navigation

<ContentPage>
    <VerticalStackLayout Spacing="3" Padding="15">
        <Label Text="Name:" FontAttributes="FontAttributes.Bold" />
        <Label Padding="10">@Item.Name</Label>
        <Label Text="Description:" FontAttributes="FontAttributes.Bold" />
        <Label Padding="10">@Item.Description</Label>
    </VerticalStackLayout>
</ContentPage>


@code {
    [Parameter] public Item Item { get; set; }

}
