@using MC = Microsoft.Maui.Controls
@using PassXYZ.Vault.Models

@inject Navigation Navigation

<ContentPage>
    <VerticalStackLayout Spacing="3" Padding="15">
        <Label Padding="10">@Item.Name</Label>
        <Label Padding="10">@Item.Description</Label>
        <StackLayout Orientation="StackOrientation.Horizontal">
            <Button Text="Save" HorizontalOptions="LayoutOptions.FillAndExpand"
                    OnClick="OnSaveClick" />
            <Button Text="Cancel" HorizontalOptions="LayoutOptions.FillAndExpand"
                    OnClick="OnCancelClick" />
        </StackLayout>
    </VerticalStackLayout>
</ContentPage>


@code {
    [Parameter] public Item Item { get; set; }

    private async Task OnSaveClick()
    {
        await Navigation.PopModalAsync();
    }

    private async Task OnCancelClick()
    {
        await Navigation.PopModalAsync();
    }
}
